.form-profile {
    &__form-group {
        margin-bottom: 20px;
    }

    &__checkbox {
        cursor: pointer;
    }

    &__checkbox-label {
        padding-left: 10px;
        cursor: pointer;
    }

    &__button {
        width: 100%;
        margin-top: 10px;
    }
}
