.page-main {
    &__section {
        display: inline-block;
        margin: 40px 60px 60px 60px;
    }

    &__section-header {
        margin-top: 0;
    }

    &__form {
        width: 200px;

        &--big {
            width: 100%;
        }
    }

    &__separator {
        margin: 0;
    }
}
